@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@import '../../vendor/livewire/flux/dist/flux.css';




  

    @font-face {
        font-family: Bonny;
        src: url("/public/fonts/bonny/Bonny-Bold.ttf");
        
    }
    
    @font-face {
        font-family: ClashDisplay;
        src: url("/public/fonts/clash/ClashDisplay-Bold.ttf") ;
    }
    @font-face {
        font-family: Neco;
        src: url("/public/fonts/neco/Neco-Black.ttf");
        color: black;
    }
    
    .inline{
        display: inline;
    }
    
    .space-around{
        justify-content: space-around;
    }
    
    .shadow{
        box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.500);
    }
    
    .max-w{
        max-width: 20rem;
    }